USE [master]
GO
/****** Object:  Database [HMMDb]    Script Date: 12/18/2025 1:41:50 PM ******/
CREATE DATABASE [HMMDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HMMDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\HMMDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HMMDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\HMMDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HMMDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HMMDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StatusId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDateUtc] [datetimeoffset](7) NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDateUtc] [datetimeoffset](7) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[UsersId] [bigint] NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[MemberId] [bigint] NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [bigint] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[TableName] [nvarchar](max) NULL,
	[DateTime] [datetimeoffset](7) NOT NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[AffectedColumns] [nvarchar](max) NULL,
	[PrimaryKey] [nvarchar](max) NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetimeoffset](7) NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealAttendances]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealAttendances](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberId] [bigint] NOT NULL,
	[MealDate] [datetimeoffset](7) NOT NULL,
	[IsBreakfast] [bit] NOT NULL,
	[IsLunch] [bit] NOT NULL,
	[IsDinner] [bit] NOT NULL,
	[IsGuest] [bit] NOT NULL,
	[GuestIsBreakfast] [bit] NOT NULL,
	[GuestBreakfastQty] [int] NOT NULL,
	[GuestIsLunch] [bit] NOT NULL,
	[GuestLunchQty] [int] NOT NULL,
	[GuestIsDinner] [bit] NOT NULL,
	[GuestDinnerQty] [int] NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetimeoffset](7) NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_MealAttendances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealBazarItem]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealBazarItem](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MealBazarId] [bigint] NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetimeoffset](7) NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_MealBazarItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealBazars]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealBazars](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BazarDate] [datetimeoffset](7) NOT NULL,
	[StartDate] [datetimeoffset](7) NOT NULL,
	[EndDate] [datetimeoffset](7) NOT NULL,
	[TotalDays] [int] NOT NULL,
	[MealMemberId] [nvarchar](50) NOT NULL,
	[BazarAmount] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetimeoffset](7) NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_MealBazars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealBill]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealBill](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberId] [bigint] NOT NULL,
	[TotalBazar] [decimal](18, 2) NOT NULL,
	[TotalMemberMeal] [decimal](18, 2) NOT NULL,
	[TotalMeal] [decimal](18, 2) NOT NULL,
	[TotalGuestMeal] [decimal](18, 2) NOT NULL,
	[MealRate] [decimal](18, 2) NOT NULL,
	[MealAmount] [decimal](18, 2) NOT NULL,
	[HouseBill] [decimal](18, 2) NOT NULL,
	[UtilityBill] [decimal](18, 2) NOT NULL,
	[OtherBill] [decimal](18, 2) NOT NULL,
	[TotalPayable] [decimal](18, 2) NOT NULL,
	[MealCycleId] [bigint] NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetimeoffset](7) NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_MealBill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealCycle]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealCycle](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[StartDate] [datetimeoffset](7) NOT NULL,
	[EndDate] [datetimeoffset](7) NOT NULL,
	[TotalDays] [int] NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetimeoffset](7) NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_MealCycle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealMenu]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealMenu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[MealName] [nvarchar](100) NOT NULL,
	[MenuItems] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetimeoffset](7) NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_MealMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 12/18/2025 1:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberCode] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[FatherName] [nvarchar](max) NULL,
	[MotherName] [nvarchar](max) NULL,
	[PermanentAddress] [nvarchar](max) NULL,
	[PresentAddress] [nvarchar](max) NULL,
	[JoiningDate] [datetimeoffset](7) NOT NULL,
	[DateOfBirth] [datetimeoffset](7) NOT NULL,
	[PhoneNumber] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[EmergencyContact] [nvarchar](max) NULL,
	[EmergencyName] [nvarchar](max) NULL,
	[Relationship] [nvarchar](max) NULL,
	[Religion] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[MaritalStatus] [bit] NOT NULL,
	[NID] [nvarchar](450) NULL,
	[Picture] [nvarchar](max) NULL,
	[MealStatus] [bit] NOT NULL,
	[HouseBill] [decimal](18, 2) NOT NULL,
	[UtilityBill] [decimal](18, 2) NOT NULL,
	[OtherBill] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetimeoffset](7) NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251215035815_CreateAllTable', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251218062423_AddElectricBillsTable', N'9.0.10')
GO
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [StatusId], [Description], [CreatedBy], [CreatedDateUtc], [UpdatedBy], [UpdatedDateUtc], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (1, 0, N'Default role assigned to all employees.', 0, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, N'Administrator', N'ADMINISTRATOR', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [StatusId], [Description], [CreatedBy], [CreatedDateUtc], [UpdatedBy], [UpdatedDateUtc], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (2, 0, N'Default role assigned to Manager.', 0, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, N'Manager', N'Manager', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [StatusId], [Description], [CreatedBy], [CreatedDateUtc], [UpdatedBy], [UpdatedDateUtc], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (3, 0, N'Default role assigned to Member.', 0, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, N'Member', N'Member', NULL)
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (2, 2)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

GO
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[MealAttendances] ON 

INSERT [dbo].[MealAttendances] ([Id], [MemberId], [MealDate], [IsBreakfast], [IsLunch], [IsDinner], [IsGuest], [GuestIsBreakfast], [GuestBreakfastQty], [GuestIsLunch], [GuestLunchQty], [GuestIsDinner], [GuestDinnerQty], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDelete]) VALUES (1, 1, CAST(N'2025-12-18T00:00:00.0000000+06:00' AS DateTimeOffset), 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, CAST(N'2025-12-18T04:58:49.6133371+00:00' AS DateTimeOffset), 1, CAST(N'2025-12-18T04:58:49.6133384+00:00' AS DateTimeOffset), NULL, 0)
INSERT [dbo].[MealAttendances] ([Id], [MemberId], [MealDate], [IsBreakfast], [IsLunch], [IsDinner], [IsGuest], [GuestIsBreakfast], [GuestBreakfastQty], [GuestIsLunch], [GuestLunchQty], [GuestIsDinner], [GuestDinnerQty], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDelete]) VALUES (2, 2, CAST(N'2025-12-18T00:00:00.0000000+06:00' AS DateTimeOffset), 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, CAST(N'2025-12-18T04:59:05.6420174+00:00' AS DateTimeOffset), 1, CAST(N'2025-12-18T04:59:05.6420180+00:00' AS DateTimeOffset), NULL, 0)
INSERT [dbo].[MealAttendances] ([Id], [MemberId], [MealDate], [IsBreakfast], [IsLunch], [IsDinner], [IsGuest], [GuestIsBreakfast], [GuestBreakfastQty], [GuestIsLunch], [GuestLunchQty], [GuestIsDinner], [GuestDinnerQty], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDelete]) VALUES (3, 3, CAST(N'2025-12-18T00:00:00.0000000+06:00' AS DateTimeOffset), 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, CAST(N'2025-12-18T04:59:16.2602624+00:00' AS DateTimeOffset), 1, CAST(N'2025-12-18T04:59:16.2602633+00:00' AS DateTimeOffset), NULL, 0)
SET IDENTITY_INSERT [dbo].[MealAttendances] OFF
GO
SET IDENTITY_INSERT [dbo].[MealBazarItem] ON 

INSERT [dbo].[MealBazarItem] ([Id], [MealBazarId], [ProductName], [Quantity], [Price], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDelete]) VALUES (39, 2, N'ColiFlower', CAST(2.00 AS Decimal(18, 2)), CAST(35.00 AS Decimal(18, 2)), CAST(N'2025-12-18T05:29:14.9348607+00:00' AS DateTimeOffset), 1, CAST(N'2025-12-18T05:29:14.9348607+00:00' AS DateTimeOffset), NULL, 0)
INSERT [dbo].[MealBazarItem] ([Id], [MealBazarId], [ProductName], [Quantity], [Price], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDelete]) VALUES (40, 2, N'Cabbage', CAST(2.00 AS Decimal(18, 2)), CAST(30.00 AS Decimal(18, 2)), CAST(N'2025-12-18T05:29:14.9348638+00:00' AS DateTimeOffset), 1, CAST(N'2025-12-18T05:29:14.9348639+00:00' AS DateTimeOffset), NULL, 0)
INSERT [dbo].[MealBazarItem] ([Id], [MealBazarId], [ProductName], [Quantity], [Price], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDelete]) VALUES (41, 2, N'Carrot', CAST(2.00 AS Decimal(18, 2)), CAST(120.00 AS Decimal(18, 2)), CAST(N'2025-12-18T05:29:14.9348643+00:00' AS DateTimeOffset), 1, CAST(N'2025-12-18T05:29:14.9348644+00:00' AS DateTimeOffset), NULL, 0)
SET IDENTITY_INSERT [dbo].[MealBazarItem] OFF
GO
SET IDENTITY_INSERT [dbo].[MealBazars] ON 

INSERT [dbo].[MealBazars] ([Id], [BazarDate], [StartDate], [EndDate], [TotalDays], [MealMemberId], [BazarAmount], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDelete]) VALUES (2, CAST(N'2025-12-06T00:00:00.0000000+06:00' AS DateTimeOffset), CAST(N'2025-12-06T00:00:00.0000000+06:00' AS DateTimeOffset), CAST(N'2025-12-11T00:00:00.0000000+06:00' AS DateTimeOffset), 6, N'3,6', CAST(1170.00 AS Decimal(18, 2)), N'Fish: Rui, Katla', CAST(N'2025-12-18T05:29:14.9348369+00:00' AS DateTimeOffset), 1, CAST(N'2025-12-18T05:29:14.9348373+00:00' AS DateTimeOffset), NULL, 0)
INSERT [dbo].[MealBazars] ([Id], [BazarDate], [StartDate], [EndDate], [TotalDays], [MealMemberId], [BazarAmount], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDelete]) VALUES (3, CAST(N'2025-12-12T00:00:00.0000000+06:00' AS DateTimeOffset), CAST(N'2025-12-12T00:00:00.0000000+06:00' AS DateTimeOffset), CAST(N'2025-12-18T00:00:00.0000000+06:00' AS DateTimeOffset), 7, N'5,2', CAST(3520.00 AS Decimal(18, 2)), N'Fish: Rui, Pangas', CAST(N'2025-12-18T05:31:53.6190942+00:00' AS DateTimeOffset), 1, CAST(N'2025-12-18T05:31:53.6190948+00:00' AS DateTimeOffset), 1, 0)
SET IDENTITY_INSERT [dbo].[MealBazars] OFF
GO
SET IDENTITY_INSERT [dbo].[MealMenu] ON 

INSERT [dbo].[MealMenu] ([Id], [DayOfWeek], [MealName], [MenuItems], [IsActive], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDelete]) VALUES (5, 0, N'Breakfast', N'Ruti, Vagetable, Egg', 1, CAST(N'2025-12-18T05:38:10.4891792+00:00' AS DateTimeOffset), 1, CAST(N'2025-12-18T05:38:10.4859125+00:00' AS DateTimeOffset), 1, 0)
INSERT [dbo].[MealMenu] ([Id], [DayOfWeek], [MealName], [MenuItems], [IsActive], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDelete]) VALUES (6, 0, N'Lunch', N'Rice, Fish, Dal', 1, CAST(N'2025-12-18T05:40:41.8725169+00:00' AS DateTimeOffset), 1, CAST(N'2025-12-18T05:40:41.8724781+00:00' AS DateTimeOffset), NULL, 0)
INSERT [dbo].[MealMenu] ([Id], [DayOfWeek], [MealName], [MenuItems], [IsActive], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDelete]) VALUES (7, 0, N'Dinner', N'Rice, Egg, Dal', 1, CAST(N'2025-12-18T05:40:59.7942986+00:00' AS DateTimeOffset), 1, CAST(N'2025-12-18T05:40:59.7942930+00:00' AS DateTimeOffset), NULL, 0)
SET IDENTITY_INSERT [dbo].[MealMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

SET IDENTITY_INSERT [dbo].[Member] OFF
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UsersId]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UsersId] ON [dbo].[AspNetUserLogins]
(
	[UsersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MealAttendances_MemberId]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_MealAttendances_MemberId] ON [dbo].[MealAttendances]
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MealBazarItem_MealBazarId]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_MealBazarItem_MealBazarId] ON [dbo].[MealBazarItem]
(
	[MealBazarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MealBill_MealCycleId]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_MealBill_MealCycleId] ON [dbo].[MealBill]
(
	[MealCycleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MealBill_MemberId]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_MealBill_MemberId] ON [dbo].[MealBill]
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Member_Email]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Member_Email] ON [dbo].[Member]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Member_MemberCode]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Member_MemberCode] ON [dbo].[Member]
(
	[MemberCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Member_NID]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Member_NID] ON [dbo].[Member]
(
	[NID] ASC
)
WHERE ([NID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Member_PhoneNumber]    Script Date: 12/18/2025 1:41:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Member_PhoneNumber] ON [dbo].[Member]
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims] ADD  DEFAULT ((0)) FOR [RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins] ADD  DEFAULT ((0)) FOR [UsersId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] ADD  DEFAULT ((0)) FOR [RoleId]
GO
ALTER TABLE [dbo].[AspNetUserTokens] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[MealAttendances] ADD  DEFAULT ((0)) FOR [MemberId]
GO
ALTER TABLE [dbo].[MealBazarItem] ADD  DEFAULT ((0)) FOR [MealBazarId]
GO
ALTER TABLE [dbo].[MealBill] ADD  DEFAULT ((0)) FOR [MemberId]
GO
ALTER TABLE [dbo].[MealBill] ADD  DEFAULT ((0)) FOR [MealCycleId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UsersId] FOREIGN KEY([UsersId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UsersId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[MealAttendances]  WITH CHECK ADD  CONSTRAINT [FK_MealAttendances_Member_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([Id])
GO
ALTER TABLE [dbo].[MealAttendances] CHECK CONSTRAINT [FK_MealAttendances_Member_MemberId]
GO
ALTER TABLE [dbo].[MealBazarItem]  WITH CHECK ADD  CONSTRAINT [FK_MealBazarItem_MealBazars_MealBazarId] FOREIGN KEY([MealBazarId])
REFERENCES [dbo].[MealBazars] ([Id])
GO
ALTER TABLE [dbo].[MealBazarItem] CHECK CONSTRAINT [FK_MealBazarItem_MealBazars_MealBazarId]
GO
ALTER TABLE [dbo].[MealBill]  WITH CHECK ADD  CONSTRAINT [FK_MealBill_MealCycle_MealCycleId] FOREIGN KEY([MealCycleId])
REFERENCES [dbo].[MealCycle] ([Id])
GO
ALTER TABLE [dbo].[MealBill] CHECK CONSTRAINT [FK_MealBill_MealCycle_MealCycleId]
GO
ALTER TABLE [dbo].[MealBill]  WITH CHECK ADD  CONSTRAINT [FK_MealBill_Member_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([Id])
GO
ALTER TABLE [dbo].[MealBill] CHECK CONSTRAINT [FK_MealBill_Member_MemberId]
GO
USE [master]
GO
